footer {
    background-color: gold;
    padding: 3rem;
  }
  
  footer nav > ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  footer nav > ul > li {
    margin-right: 5rem;
  }
  
  footer nav > ul > li:last-child {
    margin-right: 0;
  }
  
  footer nav a {
    color: white;
    text-decoration: none;
  }
  
  .social-media-icon {
    width: 24px;
    filter: invert(1);
    margin-right: 1rem;
  }
  
  #social-media-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .social-media-icon:last-child {
    margin-right: 0;
  }